
[Unit]
Description=Apache Web Server
After=data-container@%i.service
Requires=data-container@%i.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill web-server1
ExecStartPre=-/usr/bin/docker rm web-server1
ExecStartPre=/usr/bin/docker pull taylomj5/virtualisation_assn1
ExecStart=/usr/bin/docker run -p 80:80 --volumes-from data-container1 --rm --name web-server1 taylomj5/virtualisation_assn1
ExecStop=/usr/bin/docker stop web-server1

[X-Fleet]
Conflicts=web-server@*.service
